body{
    font-family:'arial',sans-serif;
}
.carousel{
    display:flex;
    width:90%;
    margin:100px auto;
    gap:1em;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar{
    display:none;
}
.group{
    display:flex;
    text-align: center;
    gap:1em;
    animation: spin 10s infinite linear;
}
.card{
    flex: 0 0 5em;
    background-color:cornflowerblue;
    height:150px;
    padding:6em;
    color:white;
    text-align: center;
    align-content: center;
    border-radius:8px;
}
@keyframes spin{
    from {translate: 0; }
    to {translate: -101%;}
}
/* Definisikan skenarionya */
@keyframes denyut {
  0% { transform: scale(1); box-shadow: 0 0 20px rgb(255, 0, 0); }
  25% { transform: scale(1); box-shadow: 0 0 20px rgb(34, 196, 34); }
  50% { transform: scale(1); box-shadow: 0 0 20px rgb(17, 180, 255); }
  75% { transform: scale(1); box-shadow: 0 0 20px rgb(216, 255, 45); }
  100% { transform: scale(1); box-shadow: 0 0 20px rgb(254, 47, 202); }
}

/* Terapkan ke elemen */
.button-sus {
    cursor: pointer;
  animation: denyut 4s infinite ;
}